#tanggalwaktu-container {
    margin: 10px 0; /* Tambahkan margin atas dan bawah agar lebih rapi */
    font-size: 16px; /* Ganti ukuran font sesuai keinginan Anda */
    color: #ffffff; /* Ganti warna teks sesuai keinginan Anda */
   
  }